<a href="https://colab.research.google.com/github/GRIETIOTLAB/EdgeComputingWS/blob/main/Python%20Basics/Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Hello World**

In [ ]:
print('Hello World!')

**Variables**

Python is not statically typed

You need not declare a variable before using it

A variable is created the moment you first assign a value to it

In [ ]:
# A variable stores a piece of data and gives it a name

a = 42

# a contained an integer bcos we gave it an integer

is_it_monday = True
is_it_sunday = False

# booleans example

pi_approx = 3.1415

# float example

my_name = "Anand"

# String data type

print(pi_approx)
print(my_name)
print(type(a))

**Lists**

List is a native Python data structure to store a set of elements

A single list may contain elements of different data types

Elements in a list are indexed, starting with 0. 

Last element can be accessed with an index of -1

Lists are created by placing the elements in [ ] square brackets

In [ ]:
prices = [10,20,30,40,50]

colors= ["red","blue","yellow"]

mixed_list= [1,2.2,"three",False]

print(prices)

print(colors[0])

print(mixed_list[3])

Element-wise operations not possible in lists

In [ ]:
list1 = [1,2,3,4,5]
list2 = [9,8,7,6,5]
print(list1 + list2)

**Dictionaries**

Dictionary is a data structure in Python that stores data as a key, value pair

Dictionaries are written with curly brackets

In [ ]:
mydict = {
    "brand":"Maruthi",
    "model":"Brezza",
    "year":2020
}

empID = {"Kumar":667,"Anand":668,"Sampath":1024}

print(mydict["model"])
print(empID["Sampath"])

**Importing in Python**

In [ ]:
float1 = 5.24
float2 = 2.25

import math
print(math.log(float1))
print(math.exp(float2))

import matplotlib.pyplot as plt
x = [-2,-1,0,1,2]
y = [-4,-2,0,2,4]
plt.plot(x,y)

**Loops**

In [ ]:
fib = [1,1,2,3,5,8]

for i in range(0,len(fib)):
  print(fib[i])

print("Let's try again")

for j in fib:
  print(j)

for index,element in enumerate(fib):
  print(index,element)

**Conditionals**

In [ ]:
nNum = 0
if nNum == 0:
  print("Number is zero")
elif nNum > 0:
  print("Number is positive")
else:
  print("Number is negative")

**Functions**

In [ ]:
def print_me(s):
  print(s)
  return

print_me("Hello World")

def step(x):
  if (x < 0):
    return -1
  elif (x >= 0):
    return 1

print(step(2))
print(step(-5))

def chk_threshold(x):
  threshold =25
  if x < threshold:
    return False
  else:
    return True

print(chk_threshold(20))
print(chk_threshold(30))

**Numpy** is a general-purpose array processing package

It provides a high performance multi dimensional array oblect and tools for working on these arrays

**Numpy arrays**

In [ ]:
import numpy as np

a = np.array([1,2,3])
b = np.array([9,8,7])

# Be careful with syntax. the parantheses and brackets are both required
print(a)

print(a[0])

#Element-wise operations

c = a + b
d = a - b
e = a * b
f = a / b

print(c)
print(d)
print(e)
print(f)

In [7]:
import numpy as np
np.array([1,4,6,5,3])

array([1, 4, 6, 5, 3])

In [ ]:
np.zeros(10,dtype=int)

In [ ]:
np.ones((3,5),dtype=float)

In [ ]:
np.full((3,5),3.14)

In [ ]:
np.arange(0,20,2)

In [ ]:
np.random.random((3,3))